td.dungen{
  font-size: 75%;
}

div#dungeon{float: left;
           margin-left: 20px;
           width: 90%;
           height: 80%}
table#dungeon_key{ clear: both;
                  width:90%; }
				  
/* h1 {
  font: 700 36px/0.5 'Alegreya', Arial, serif;
}
p {font: 400 16px/0.5 'Alegreya', Arial, serif;} */

/* Making look nice */
body { padding: 1em; font-family: Arial; font-size: 14px; }
input[type="text"] { padding: 0.4em; font-family: Arial; }

/* Inline Edit */
p.hover { background: #fffbe1; }

.fixed-nav {
    position: fixed;
    top: 1em;
    left: 1em;
}
.clear-both {  clear: both;  }
