td.dungen{
  font-size: 75%;
}

div#positioner {
    float: left;
    margin-left: 10px;
    width: 1200px;
    height: 1200px;
}

div#dungeon.graph{
    float: left;
    margin-left: 10px;
    width: 80vw;
    height: 60vw;
}

div#dungeon.map_nodes{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%
    }
canvas#dungeon_map{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    }

table#dungeon_key{ clear: both;
                  width:90%; }

/* h1 {
  font: 700 36px/0.5 'Alegreya', Arial, serif;
}
p {font: 400 16px/0.5 'Alegreya', Arial, serif;} */

/* Making look nice */
body { padding: 1em; font-family: Arial; font-size: 14px; }
input[type="text"] { padding: 0.4em; font-family: Arial; }

/* Inline Edit */
p.hover { background: #fffbe1; }

.fixed-nav {
    position: fixed;
    top: 1em;
    left: 1em;
}
.clear-both {  clear: both;  }
